<h1>MyPage for <%= @user.fullname %></h1>

<% if @students != nil %>
<ul>
    <% @students.each {|st| %>
    <li><%= link_to st.fullname, user_path(st.id) %></li>
    <% } %>
</ul>
<% end %>
        
<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>チュートリアル</title>
        <script
            type="text/javascript"
            src="https://js.api.here.com/v3/3.1/mapsjs-core.js"
        ></script>
        <script
            type="text/javascript"
            src="https://js.api.here.com/v3/3.1/mapsjs-service.js"
        ></script>
        <script
            type="text/javascript"
            src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"
        ></script>
        <style>
            #map {
                height: 100%;
            }

            /* Optional: Makes the sample page fill the window. */
            html,
            body {
                height: 100%;
                margin: 0;
                padding: 0;
            }
        </style>
    </head>
    <body>
        <div id="map"></div>
        <script>
            const platform = new H.service.Platform({
                apikey: 'mFZl4U1b4lXidijd8Mw1TFj3tJAGJkGi9oUkn18EU8c',
            });

            // HEREのプラットフォームよりデフォルトの地図レイヤを取得
            const defaultLayers = platform.createDefaultLayers();

            // 地図表示を実装
            let map = new H.Map(
                document.getElementById('map'),
                defaultLayers.vector.normal.map,
                {
                    zoom: 10,
                    center: { lat: 35.6, lng: 139.7 },
                }
            );

            // 地図のズームイン・ズームアウトを実装
            const behavior = new H.mapevents.Behavior(
                new H.mapevents.MapEvents(map)
            );
        </script>
    </body>
</html>